.fleaxitem{
    display: flex;
    background-color: white;
    border-radius: 2px;
    width: 200px;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .flexitem {
        width: 100%; /* Change the width to 100% to make it occupy the full width of the small screen */
        /* Add any other specific styles you want for small screens here */
    }
}

.bg-dark {
    background-color: #c85d28!important;
    /* color: WHITE; */
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255 / 99%);
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #1976d2;
    color: white;
}

